@{
    ViewData["Title"] = "Channel";
    Layout = "~/Views/Shared/_ObserverLayout.cshtml";
  
}
<link href="~/lib/angular/ui-grid/ui-grid.min.css" rel="stylesheet" />
<div ng-controller="skfCtrl" class="segment content-wrapper">
    <div class="container-fluid" id="segment">
        <div class="row heading-wrapper">
            <div class="col-md-3 heading">
                <h4 class="page-header text-primary">{{isEdit?"Edit Channel":"Create Channel"}}</h4>
            </div>
            <div class="col-md-9 menu-button">
                @*<a ng-click="import()" title="Import"><i class="fa fa-upload icon-filter"></i>Import</a>*@
                <a ng-disabled="isCreate" ng-click="isCreate || createToggle()" title="Create"><i class="fa fa-plus icon-filter"></i>Create</a>
                @*<a ng-disabled="isSearch" ng-click="isSearch || searchToggle()" title="Search"><i class="fa fa-search-plus icon-filter"></i><span>Search</span></a>*@
                <span class="Pipe"></span>
                <span class="rds-buttons">
                    <span class="dropdown" ng-show="isCreate">
                        <a ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid  || save()" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                        @*<a class="dropdown-toggle arrow" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid  || save('goto')">Save & Goto Equipment</a>*@
                        </span>
                    </span>
                </span>
                @*<a ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid  || save()" ng-show="isCreate" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>*@
                <a ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid || update()" ng-show="isEdit" title="Update"><i class="fa fa-save icon-filter"></i><span>Update</span></a>
                <a ng-disabled="isEdit" ng-click="isEdit || clearOut()" ng-show="isCreate || isEdit" title="Clear"><i class="fa fa-eraser icon-filter"></i><span>Clear</span></a>
                <a ng-show="isSearch" ng-click="clearValue()" title="Clear"><i class="fa fa-eraser icon-filter"></i><span>Clear</span></a>
            </div>

        </div>
        <div class="row search-form" ng-hide="isEdit || isCreate">
            <div class="col-md-10 col-sm-10">
                <div class="col-md-2 col-sm-4 input-field">
                    <label class="control-label">Status</label>
                    <div>
                        <select class="form-control" ng-model="S_Channel.Status" name="Active">
                            <option value="All">--ALL--</option>
                            <option value="Y">Active</option>
                            <option value="N">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons create filter-button col-md-2  col-sm-2">
                <button ng-disabled="readOnlyPage" ng-click="loadData()" class="btn btn-info"><i class="fa fa-binoculars icon-filter"></i>Go</button>
            </div>
        </div>
        <form name="userForm" novalidate>
            <div class="row create-form" ng-show="isEdit || isCreate">
                <div class="col-md-12">
                    <div class="col-md-2 col-sm-3 input-field" ng-class="{ 'has-error' : userForm.ChannelCode.$invalid && !userForm.ChannelCode.$pristine }">
                            <label class="control-label">Channel Code*</label>
                            <div>
                                <input ng-disabled="readOnlyPage" class="form-control" required ng-model="Channel.ChannelCode" name="ChannelCode" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    <div class="col-md-2 col-sm-3 input-field" ng-class="{ 'has-error' : userForm.ChannelName.$invalid && !userForm.ChannelName.$pristine }">
                        <label class="control-label">Channel Name</label>
                        <div>
                            <input ng-disabled="readOnlyPage" class="form-control" required ng-model="Channel.ChannelName" name="ChannelName" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 input-field" ng-show="isEdit">
                        <label class="control-label">Status*</label>
                        <div>
                            <select ng-disabled="readOnlyPage" class="form-control" ng-model="Channel.Active" name="Active">
                                <option value="Y">Active</option>
                                <option value="N">In Active</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 input-field">
                        <label class="control-label">Description</label>
                        <div>
                            <textarea ng-disabled="readOnlyPage" class="form-control" ng-model="Channel.Descriptions" name="Descriptions"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <div class="grid data">
                <div id="uiGrid" ui-grid="gridOpts" class="grid" ui-grid-cellnav ui-grid-pinning ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/angular/ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/pdfmake.js"></script>
    <script src="~/lib/angular/ui-grid/export/vfs_fonts.js"></script>
    <script src="~/lib/angular/ui-grid/export/lodash.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/jszip.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/excel-builder.dist.js"></script>
    <script src="~/lib/angular/ui-grid/import/xlsx.full.min.js"></script>
    <script src="~/lib/angular/ui-grid/import/ods.js"></script>
    <environment include="Development">
        <script src="~/js/import/index.js" asp-append-version="true"></script>
        <script src="~/js/Channel/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/import/index.min.js" asp-append-version="true"></script>
        <script src="~/js/Channel/index.min.js" asp-append-version="true"></script>
    </environment>
}
@*<script type="text/ng-template" id="skfMultiLanguageModal.html">
    <div class="popup-product">
        <div class="modal-header">
            <span class="model-breadcrumb">Segment / Multilingual</span>
            <div class="col-lg-8 col-md-8 col-sm-12 heading">
                <h4 class="page-header text-primary">{{ChannelName}} </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 create-button  menu-button">
                <span class="Pipe"></span>
                <a ng-click="save()" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                <a ng-click="cancel()" title="Close"><i class="fa fa-close icon-filter"></i><span>Close</span></a>
            </div>

        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <div class="grid data">
                    <div id="uiGrid" ui-grid="gridOpts2" class="grid" ui-grid-edit ui-grid-cellnav ui-grid-pinning ui-grid-resize-columns ui-grid-exporter></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</script>*@

<script type="text/ng-template" id="skfClonePopupModal.html">
    <div class="popup-product clone">
        <div class="modal-header">
            <span class="model-breadcrumb">Channel</span>
            <div class="col-lg-5 col-md-5 col-sm-12 heading">
                <h4 class="page-header text-primary">Clone {{ChannelName}} </h4>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 create-button  menu-button">
                <span class="Pipe"></span>
                <a ng-click="clone()" ng-show="isClone" ng-disabled="userForm.$invalid || readOnlyPage" title="Clone"><i class="fa fa-save icon-filter"></i><span>Clone</span></a>
                <a ng-click="save()" ng-show="!isClone" ng-disabled="userForm.$invalid || readOnlyPage" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                <a ng-click="cancel()" ng-disabled="!isClone" title="Close"><i class="fa fa-close icon-filter"></i><span>Close</span></a>
            </div>
        </div>
        <div class="row search-form">
            <form name="userForm" novalidate>
                <div class="col-md-3 col-sm-6 input-field" ng-show="isClone" ng-class="{ 'has-error' : userForm.CloneCount.$invalid && !userForm.CloneCount.$pristine }">
                    <label class="control-label">Clone Count*</label>
                    <div>
                        <input type="number" min="1" max="99" class="form-control" required ng-model="CloneCount" name="CloneCount" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </form>
        </div>
        <form name="userForm" novalidate>
            <table ng-show="!isClone">
                <tr>
                    <th>S.no</th>
                    <th>Channel Name</th>
                </tr>
                <tr ng-repeat="p in ChannelCloneDDL">
                    <td>
                        <input class="form-control" disabled value="{{$index + 1}}" name="sno" />
                    </td>
                    <td class="edit-content" ng-class="{ 'has-error' : userForm.ChannelName.$invalid && !userForm.ChannelName.$pristine }">
                        <input ng-disabled="readOnlyPage" class="form-control" required ng-model="p.TName" name="ChannelName" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</script>

<script type="text/ng-template" id="skfUsersiteAccess.html">
        <div class="popup-user-role">
            <div class="modal-header">
                <span class="model-breadcrumb">Channel /Channel Plant Mapping</span>
                <div class="col-lg-8 col-md-8 col-sm-12 heading">
                    <h4 class="page-header text-primary">{{userName}} </h4>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 create-button  menu-button">
                    <span class="Pipe"></span>
                    <a ng-click="save()" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                    <a ng-click="cancel()" title="Close"><i class="fa fa-close icon-filter"></i><span>Close</span></a>
                </div>
            </div>
            <div class="modal-body user-siteaccess">
                <div class="row">
                    <div class="panel-body user-siteaccess">
                        <div ng-init="accordion=1">
                            <div ng-show="UserTypeCode == 'IUSR'">
                                <h3 class="accordion" ng-class="{active:accordion==1}">
                                    <a ng-click="accordion = 1">Country Access </a>
                                </h3>
                                <div class="accordion-content" ng-show="accordion==1">
                                    <div class="well user-siteaccess">
                                        <ui-select multiple ng-model="intern.selectedCountries" theme="bootstrap" close-on-select="false" style="width: 800px;" title="Choose a country">
                                            <ui-select-match placeholder="Select Country...">{{$item.CountryName}}</ui-select-match>
                                            <ui-select-choices repeat="country in countries | propsFilter: {CountryName: $select.search} | limitTo: 50">
                                                <div ng-bind-html="country.CountryName | highlight: $select.search"></div>
                                                @*<small>
                                                        <b>Active:</b> {{country.Active}}
                                                    </small>*@
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="UserTypeCode == 'IUSR'">
                                <h3 class="accordion" ng-class="{active:accordion==2}">
                                    <a ng-click="accordion = 2">Branch Access</a>
                                </h3>
                                <div class="accordion-content" ng-show="accordion==2">
                                    <div class="well user-siteaccess">
                                        <ui-select multiple ng-model="intern.selectedCostcentre" theme="bootstrap" close-on-select="false" style="width: 800px;" title="Choose Branch">
                                            <ui-select-match placeholder="Select Branch...">{{$item.CostCentreName}}</ui-select-match>
                                            <ui-select-choices repeat="costcentre in CostcentreDDL | propsFilter: {CostCentreName: $select.search} | limitTo: 50">
                                                <div ng-bind-html="costcentre.CostCentreName | highlight: $select.search"></div>
                                                <small>
                                                    <b>Country:</b> {{costcentre.CountryName}}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="UserTypeCode == 'IUSR'">
                                <h3 class="accordion" ng-class="{active:accordion==3}">
                                    <a ng-click="accordion = 3">Client Group</a>
                                </h3>
                                <div class="accordion-content" ng-show="accordion==3">
                                    <div class="well user-siteaccess">
                                        <ui-select multiple ng-model="intern.selectedClient" theme="bootstrap" close-on-select="false" style="width: 800px;" title="Choose a client">
                                            <ui-select-match placeholder="Select Client...">{{$item.ClientName}}</ui-select-match>
                                            <ui-select-choices repeat="client in clientDDL | propsFilter: {ClientName: $select.search} | limitTo: 50">
                                                <div ng-bind-html="client.ClientName | highlight: $select.search"></div>
                                                <small>
                                                    <b>Country:</b> {{client.CountryName}}
                                                    <b>Branch Name:</b> {{client.CostCentreName}}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h3 class="accordion" ng-class="{active:accordion==4}">
                                    <a ng-click="accordion = 4">Plant Mapping</a>
                                </h3>
                                <div class="accordion-content" ng-show="accordion==4 || UserTypeCode != 'IUSR'">
                                    <div class="well user-siteaccess">
                                        <ui-select multiple ng-model="intern.selectedClientSite" theme="bootstrap" close-on-select="false" style="width: 800px;" title="Choose a client site">
                                            <ui-select-match placeholder="Select Client Site...">{{$item.ClientSiteName}}</ui-select-match>
                                            <ui-select-choices repeat="clientSite in ClientSiteDDL | propsFilter: {ClientSiteName: $select.search,CountryName: $select.search} | limitTo: 50">
                                                <div ng-bind-html="clientSite.ClientSiteName | highlight: $select.search"></div>
                                                <small>
                                                    <b>Client Name:</b> {{clientSite.ClientName}}
                                                </small>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </script>
