@{
    ViewData["Title"] = "Avoided Planned Maintenance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/angular/ui-grid/ui-grid.min.css" rel="stylesheet" />
<div ng-controller="skfCtrl" class="failurereport content-wrapper">
    <div class="container-fluid" id="failurereport">
        <div class="row heading-wrapper">
            <div class="col-md-3 heading">
                <h4 class="page-header text-primary">Avoided Planned Maintenence List</h4>
            </div>
            <div class="col-md-9 menu-button">
                <a title="Search"></a>
            </div>
        </div>
        <div class="row search-form">
            <div class="col-md-10 col-sm-10">
                <div class="col-md-2 col-sm-6 input-field">
                    <label class="control-label">Report From Date</label>
                    <p class="input-group date-picker date-wrapper">
                        <input type="text" class="form-control date-picker-input" ng-dblclick="s_ReportFromDate=true" placeholder="dd/mm/yyyy" uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="L_FailureReport.ReportFromDate" name="L_FailureReport.ReportFromDate" ng-init="s_ReportFromDate=false" is-open="s_ReportFromDate"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="['M!/d!/yyyy']" />
                        <span class="input-group-btn date-picker-button">
                            <button type="button" class="btn btn-default" ng-click="s_ReportFromDate=true"><i class="fa fa-calendar"></i></button>
                        </span>
                </div>
                <div class="col-md-2 col-sm-6 input-field">
                    <label class="control-label">Report To Date:</label>
                    <p class="input-group date-picker date-wrapper">
                        <input type="text" class="form-control date-picker-input" ng-dblclick="s_ReportToDate=true" placeholder="dd/mm/yyyy" uib-datepicker-popup="dd/MM/yyyy"
                               ng-model="L_FailureReport.ReportToDate" name="L_FailureReport.ReportToDate" ng-init="s_ReportToDate=false" is-open="s_ReportToDate"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="['M!/d!/yyyy']" />
                        <span class="input-group-btn date-picker-button">
                            <button type="button" class="btn btn-default" ng-click="s_ReportToDate=true"><i class="fa fa-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-md-1 menu-button">
                <a ng-disabled="isCreate" ng-click="editRow()" title="Create"><i class="fa fa-plus icon-filter"></i>Create</a>
            </div>
            <div class="buttons create filter-button col-md-1  col-sm-2">
                <button ng-click="loadData()" class="btn btn-info"><i class="fa fa-binoculars icon-filter"></i>Go</button>
            </div>
        </div>
        <div class="table-responsive">
            <div class="grid data">
                <div id="uiGrid" ui-grid="gridOpts" class="grid" ui-grid-cellNav ui-grid-pinning ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/angular/ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/pdfmake.js"></script>
    <script src="~/lib/angular/ui-grid/export/vfs_fonts.js"></script>
    <script src="~/lib/angular/ui-grid/export/lodash.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/jszip.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/excel-builder.dist.js"></script>
    <script src="~/lib/angular/ui-grid/import/xlsx.full.min.js"></script>
    <script src="~/lib/angular/ui-grid/import/ods.js"></script>
    <environment include="Development">
        <script src="~/js/import/index.js" asp-append-version="true"></script>
        <script src="~/js/avoidedplannedmaint/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/import/index.min.js" asp-append-version="true"></script>
        <script src="~/js/avoidedplannedmaint/index.min.js" asp-append-version="true"></script>
    </environment>
}

<script type="text/ng-template" id="skfAvoidedplmaint.html">
    <div class="popup-product">
        <div class="modal-header">
            <span class="model-breadcrumb">Avoided Planned Maintenance</span>
            <div class="col-lg-5 col-md-5 col-sm-12 heading">
                <h4 class="page-header text-primary"></h4>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 create-button  menu-button">
                <span class="Pipe"></span>
                <a ng-click="save()" ng-hide="isEdit" ng-disabled="readOnlyPage" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                <a ng-click="update()" ng-show="isEdit" ng-disabled="readOnlyPage" title="Update"><i class="fa fa-save icon-filter"></i><span>Update</span></a>
                <a ng-click="cancel()" title="Close"><i class="fa fa-close icon-filter"></i><span>Close</span></a>
            </div>
        </div>
        <div class="row popwid">
            <form name="userForm" novalidate>
                <div class="col-md-12" ng-hide="isEdit">
                    <div class="row col-md-3 col-sm-6 input-field">
                        <label class="control-label">
                            Plant &nbsp;&nbsp;&nbsp;
                        </label>
                        <div>
                            <select ng-model="PlantAreaId" class="form-control" name="PlantArea" ng-change="loadArea(PlantAreaId, 'change')"
                                    ng-options="value.PlantAreaId as value.PlantAreaName for (key, value) in PlantDDL"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 input-field">
                        <label class="control-label">
                            Area &nbsp;&nbsp;&nbsp;
                        </label>
                        <div>
                            <select ng-model="AreaId" class="form-control" name="Area" ng-change="loadSystem(AreaId, 'change')"
                                    ng-options="value.AreaId  as value.AreaName for (key, value) in AreaDDL"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 input-field">
                        <label class="control-label">
                            System &nbsp;&nbsp;&nbsp;
                        </label>
                        <div>
                            <select ng-model="SystemId" class="form-control" name="PlantArea"
                                    ng-options="value.SystemId as value.SystemName for (key, value) in SystemDDL"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 input-field" ng-class="{ 'has-error' : userForm.EquipmentName.$invalid && !userForm.EquipmentName.$pristine }">
                        <label class="control-label">Equipment</label>
                        <div>
                            <select ng-model="EquipmentId" class="form-control" name="Equipment" ng-change="loadAsset(EquipmentId)"
                                    ng-options="value.EquipmentId as value.EquipmentName for (key, value) in EqDDL"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row col-md-3 col-sm-4 input-field">
                        <label class="control-label">Date of Report:</label>
                        <p class="input-group date-picker date-wrapper">
                            <input type="text" class="form-control date-picker-input" ng-dblclick="d_ReportDate=true" placeholder="dd/mm/yyyy" uib-datepicker-popup="dd/MM/yyyy"
                                   ng-model="ReportDate" ng-disabled="readOnlyPage" name="FromDate" ng-init="d_StartDate=false" is-open="d_StartDate"
                                   datepicker-options="options" close-text="Close" alt-input-formats="['M!/d!/yyyy']" />
                            <span class="input-group-btn date-picker-button">
                                <button type="button" class="btn btn-default" ng-disabled="readOnlyPage" ng-click="d_StartDate=true"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-md-2 col-sm-6 input-field">
                        <label class="control-label">Choose File</label>
                        <input type="file" id="files" class="uploadfile" name="files[]" ng-model="fileUpload" onchange="angular.element(this).scope().uploadImageStart()" />
                    </div>
                </div>
                <div class="AvoidPl-form col-md-12" ng-show="DriveUnitList.length > 0">
                    <table class="AvoidPl-set">
                        <tr class="first-row">
                            <td class="first-column" colspan="6">
                                <h5 class="control-label symptom-title">Drive</h5>
                            </td>
                        </tr>
                        <tr class="isdesktopview">
                            <td class="first-column">
                                <label class="control-label">Asset Name</label>

                            </td>
                            <td class="second-column">
                                <label class="control-label">MTTR</label>

                            </td>
                            <td class="third-column">
                                <label class="control-label">DT. Cost</label>

                            </td>
                            <td class="fourth-column">
                                <label class="control-label">Description</label>

                            </td>
                            <td class="fifth-column">
                                <label class="control-label">Repair Cost</label>

                            </td>
                            <td class="sixth-column">
                                <label class="control-label">Actual Outage</label>

                            </td>
                        </tr>
                        <tr ng-repeat="val in DriveUnitList">
                            <td class="first-column">
                                <label class="control-label ismobileview">Asset Name</label>
                                <input ng-model="val.IdentificationName" disabled class="form-control search-input" name="IdentificationName">
                            </td>
                            <td class="second-column">
                                <label class="control-label ismobileview">MTTR</label>
                                <input ng-model="val.MTTR" disabled class="form-control search-input" name="MTTR">
                            </td>
                            <td class="third-column">
                                <label class="control-label ismobileview">DT. Cost</label>
                                <input ng-model="val.MTBF" disabled class="form-control search-input" name="MTBF">
                            </td>
                            <td class="fourth-column">
                                <label class="control-label ismobileview">Description</label>
                                <textarea ng-model="val.Descriptions" class="form-control search-input" name="Descriptions" cols="1" rows="2"></textarea>
                            </td>
                            <td class="fifth-column">
                                <label class="control-label ismobileview">Repair Cost</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualRepairCost" placeholder="Amount" class="form-control search-input" name="RepairCost">
                                </div>
                            </td>
                            <td class="sixth-column">
                                <label class="control-label ismobileview">Actual Outage</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualOutageTime" placeholder="Hours" class="form-control search-input" name="ActualOutage">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="AvoidPl-form col-md-12" ng-show="IntermediateUnitList.length > 0">
                    <table class="AvoidPl-set">
                        <tr class="first-row">
                            <td class="first-column" colspan="6">
                                <h5 class="control-label symptom-title">Intermediate</h5>
                            </td>
                        </tr>
                        <tr class="isdesktopview">
                            <td class="first-column">
                                <label class="control-label">Asset Name</label>

                            </td>
                            <td class="second-column">
                                <label class="control-label">MTTR</label>

                            </td>
                            <td class="third-column">
                                <label class="control-label">DT. Cost</label>

                            </td>
                            <td class="fourth-column">
                                <label class="control-label">Description</label>

                            </td>
                            <td class="fifth-column">
                                <label class="control-label">Repair Cost</label>

                            </td>
                            <td class="sixth-column">
                                <label class="control-label">Actual Outage</label>

                            </td>
                        </tr>
                        <tr ng-repeat="val in IntermediateUnitList">
                            <td class="first-column">
                                <label class="control-label ismobileview">Asset Name</label>
                                <input ng-model="val.IdentificationName" disabled class="form-control search-input" name="IdentificationName">
                            </td>
                            <td class="second-column">
                                <label class="control-label ismobileview">MTTR</label>
                                <input ng-model="val.MTTR" disabled class="form-control search-input" name="MTTR">
                            </td>
                            <td class="third-column">
                                <label class="control-label ismobileview">DT. Cost</label>
                                <input ng-model="val.MTBF" disabled class="form-control search-input" name="MTBF">
                            </td>
                            <td class="fourth-column">
                                <label class="control-label ismobileview">Description</label>
                                <textarea ng-model="val.Descriptions" class="form-control search-input" name="IdentificationName" cols="1" rows="2"></textarea>
                            </td>
                            <td class="fifth-column">
                                <label class="control-label ismobileview">Repair Cost</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualRepairCost" placeholder="Amount" class="form-control search-input" name="RepairCost">
                                </div>
                            </td>
                            <td class="sixth-column">
                                <label class="control-label ismobileview">Actual Outage</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualOutageTime" placeholder="Hours" class="form-control search-input" name="ActualOutage">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="AvoidPl-form col-md-12" ng-show="DrivenUnitList.length > 0">
                    <table class="AvoidPl-set">
                        <tr class="first-row">
                            <td class="first-column" colspan="6">
                                <h5 class="control-label symptom-title">Driven</h5>
                            </td>
                        </tr>
                        <tr class="isdesktopview">
                            <td class="first-column">
                                <label class="control-label">Asset Name</label>

                            </td>
                            <td class="second-column">
                                <label class="control-label">MTTR</label>

                            </td>
                            <td class="third-column">
                                <label class="control-label">DT. Cost</label>

                            </td>
                            <td class="fourth-column">
                                <label class="control-label">Description</label>

                            </td>
                            <td class="fifth-column">
                                <label class="control-label">Repair Cost</label>

                            </td>
                            <td class="sixth-column">
                                <label class="control-label">Actual Outage</label>

                            </td>
                        </tr>
                        <tr ng-repeat="val in DrivenUnitList">
                            <td class="first-column">
                                <label class="control-label ismobileview">Asset Name</label>
                                <input ng-model="val.IdentificationName" disabled class="form-control search-input" name="IdentificationName">
                            </td>
                            <td class="second-column">
                                <label class="control-label ismobileview">MTTR</label>
                                <input ng-model="val.MTTR" disabled class="form-control search-input" name="MTTR">
                            </td>
                            <td class="third-column">
                                <label class="control-label ismobileview">DT. Cost</label>
                                <input ng-model="val.MTBF" disabled class="form-control search-input" name="MTBF">
                            </td>
                            <td class="fourth-column">
                                <label class="control-label ismobileview">Description</label>
                                <textarea ng-model="val.Descriptions" class="form-control search-input" name="IdentificationName" cols="1" rows="2"></textarea>
                            </td>
                            <td class="fifth-column">
                                <label class="control-label ismobileview">Repair Cost</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-dollar"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualRepairCost" placeholder="Amount" class="form-control search-input" name="RepairCost">
                                </div>
                            </td>
                            <td class="sixth-column">
                                <label class="control-label ismobileview">Actual Outage</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                                    <input type="number" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46" ng-model="val.DActualOutageTime" placeholder="Hours" class="form-control search-input" name="ActualOutage">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</script>


<script type="text/ng-template" id="skfAttachmentModal.html">
    <div class="popup-product">

        <div class="modal-header">
            <span class="model-breadcrumb">Attachments</span>
            <div class="col-lg-5 col-md-5 col-sm-12 heading">
                <h4 class="page-header text-primary">{{AssetName}}</h4>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 create-button  menu-button">
                @*<input type="file" id="files" class="uploadfile" name="files[]" ng-model="attach" multiple accept="image/x-png,image/jpeg" onchange="angular.element(this).scope().uploadImageStart()" />*@
                <a title="Close" ng-click="cancel()"><i class="fa fa-close icon-filter"></i><span>Cancel</span></a>
            </div>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 attachment-link">
                        <h4 class="attach-label">Attachments :</h4>
                        <div ng-repeat="file in attachment" class="attched-images">

                            <a ng-click="showAttach(file.attachId,$index)" class="attached-imgnames" ng-class="{active : {{$index}} === docindex}">
                                {{file.FileName}}
                            </a>
                            <div class="close-button"><a ng-disabled="IsEditable==0" ng-click="removeAttachment(file.attachId, file.type)"><i class="fa fa-trash"></i></a></div>
                        </div>
                        <div>
                            @*<img id="blah" src="#" ng-show="validFormat" alt="" class="upload-img" />*@
                        </div>
                        <span ng-show="noAttachment">No attachments Found</span>
                    </div>
                    <div class="col-md-6">
                        <div class="preview-img">
                            <h4>Preview Image: <span class="text-primary" ng-show="FileName.length > 0">{{FileName}}</span></h4>
                            <img src="../images/preview-icon.png" ng-show="previewImg" class="img-preview" />
                            <img src="{{attImage}}" ng-show="attImage.length > 0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
