
@{
    ViewData["Title"] = "Release Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/angular/ui-grid/ui-grid.min.css" rel="stylesheet" />
<div ng-controller="skfCtrl" class="content-wrapper">
    <div class="container-fluid" id="userguide">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2 helpdesk-link">
                    <h4 class="label-pdf">Release Notes</h4>
                    <div ng-repeat="file in ReleaseNotesDDL">
                        <div class="attched-pdf" ng-class="{active : {{$index}} === noteindex}">
                            <a class="pdf-doc" ng-click="ViewDocument(file.LookupCode, $index)">{{file.LValue}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 pdf-right">
                    <div class="panel panel-default" ng-bind-html="ReleaseContent | trustAsHtml">
                    </div>
            </div>

        </div>
    </div>
</div></div>

@section Scripts {
    <script src="~/lib/angular/ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/pdfmake.js"></script>
    <script src="~/lib/angular/ui-grid/export/vfs_fonts.js"></script>
    <script src="~/lib/angular/ui-grid/export/lodash.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/jszip.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/excel-builder.dist.js"></script>
    <environment include="Development">
        <script src="~/js/releasenote/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/releasenote/index.min.js" asp-append-version="true"></script>
    </environment>
}
