@{
    ViewData["Title"] = "Branch";
}
<link href="~/lib/angular/ui-grid/ui-grid.min.css" rel="stylesheet" />
<link href="~/lib/angucomplete/antocomplete-alt.css" rel="stylesheet" />
<div ng-controller="skfCtrl" class="costcentre content-wrapper">
    <div class="container-fluid" id="costcentre">
        <div class="row heading-wrapper">
            <div class="col-md-3 heading">
                <h4 class="page-header text-primary">{{isEdit?"Edit Branch":"Create Branch"}}</h4>
            </div>
            <div class="col-md-9 menu-button">
                <a ng-disabled="isCreate" ng-click="isCreate || createToggle()" title="Create"><i class="fa fa-plus icon-filter"></i>Create</a>
                @*<a ng-disabled="isSearch" ng-click="isSearch || searchToggle()" title="Search"><i class="fa fa-search-plus icon-filter"></i><span>Search</span></a>*@
                <span class="Pipe"></span>
                <a ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid  || save()" ng-show="isCreate" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                <a ng-disabled="readOnlyPage || userForm.$invalid" ng-click="readOnlyPage || userForm.$invalid || update()" ng-show="isEdit" title="Update"><i class="fa fa-save icon-filter"></i><span>Update</span></a>
                <a ng-disabled="isEdit" ng-click="isEdit || clearOut()" title="Clear"><i class="fa fa-eraser icon-filter"></i><span>Clear</span></a>
            </div>
        </div>
        @*<div class="row search-form" ng-hide="isEdit || isCreate">
            <div class="col-md-10 col-sm-10">
                <div class="col-md-3 col-sm-6 input-field">
                    <label class="control-label">Country Name*</label>
                    <angucomplete-alt id="CountrySId"
                                      placeholder="Country"
                                      input-name="CountrySId"
                                      pause="400"
                                      minlength="1"
                                      selected-object="selectedCountryS_StatusFn"
                                      remote-url="Country/GetCountryByName?lId=9&name=&searchParam="
                                      remote-url-data-field=""
                                      title-field="CountryName"
                                      search-fields="CountryId,CountryName"
                                      description-field=""
                                      image-field=""
                                      field-required="true"
                                      input-class="form-control form-control-small"
                                      disable-input="readOnlyPage" />

                </div>
                <div class="col-md-3 col-sm-6 input-field" ng-class="{ 'has-error' : searchform.S_active.$invalid && !searchform.S_active.$pristine }">
                    <label class="control-label">Status*</label>
                    <div class="status">
                        <select ng-model="S_active" ng-disabled="readOnlyPage">
                            <option value="All">-- All --</option>
                            <option value="Y">Active</option>
                            <option value="N">In Active</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="buttons create filter-button col-md-2  col-sm-2">
                <button ng-disabled="readOnlyPage || searchform.$invalid" ng-click="search()" class="btn btn-info"><i class="fa fa-binoculars icon-filter"></i>Go</button>
            </div>
        </div>*@
        <form name="userForm" novalidate>
            <div class="row create-form" ng-show="isEdit || isCreate">
                <div class="col-md-12">
                    <div class="col-md-3 col-sm-6 input-field">
                        <label class="control-label">Country Name*</label>
                        <angucomplete-alt id="CountryId"
                                          placeholder="Country"
                                          input-name="CountryId"
                                          pause="400"
                                          minlength="1"
                                          selected-object="selectedCountryStatusFn"
                                          remote-url="Country/GetCountryByName?lId=9&name=&searchParam="
                                          remote-url-data-field=""
                                          title-field="CountryName"
                                          search-fields="CountryId,CountryName"
                                          description-field=""
                                          image-field=""
                                          field-required="true"
                                          input-class="form-control form-control-small"
                                          disable-input="readOnlyPage" />

                    </div>
                    <div class="col-md-3 col-sm-6 input-field" ng-class="{ 'has-error' : userForm.CostCentreCode.$invalid && !userForm.CostCentreCode.$pristine }">
                        <label class="control-label">Branch Code*</label>
                        <div>
                            <input ng-disabled="readOnlyPage" class="form-control" id="CostCentreCode" required ng-model="CostCentreCode" name="CostCentreCode" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 input-field" ng-class="{ 'has-error' : userForm.CostCentreName.$invalid && !userForm.CostCentreName.$pristine }">
                        <label class="control-label">Branch Name*</label>
                        <div>
                            <input ng-disabled="readOnlyPage" class="form-control" id="CostCentreName" required ng-model="CostCentreName" name="CostCentreName" />
                            <span class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 input-field">
                        <label class="control-label">Description</label>
                        <div>
                            <div>
                                <textarea rows="2" cols="30" ng-model="Descriptions" ng-disabled="readOnlyPage" name="Description" class="form-control" maxlength="100"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 input-field" ng-show="isEdit">
                        <label class="control-label">Status</label>
                        <div>
                            <select ng-disabled="readOnlyPage" class="form-control" ng-model="Active" name="Active">
                                <option value="Y">Active</option>
                                <option value="N">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="table-responsive">
            <div class="grid data">
                <div id="uiGrid" ui-grid="gridOpts" class="grid" ui-grid-cellnav ui-grid-pinning ui-grid-resize-columns ui-grid-exporter></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="skfPopupModal.html">
    <div class="popup-product">
        <div class="modal-header">
            <span class="model-breadcrumb">Branch / Multilingual</span>
            <div class="col-lg-8 col-md-8 col-sm-12 heading">
                <h4 class="page-header text-primary">{{costcentreName}} </h4>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 create-button  menu-button">
                <span class="Pipe"></span>
                <a ng-click="saveCost()" title="Save"><i class="fa fa-save icon-filter"></i><span>Save</span></a>
                <a ng-click="cancel()" title="Close"><i class="fa fa-close icon-filter"></i><span>Close</span></a>
            </div>

        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <div class="grid data">
                    <div id="uiGrid" ui-grid="gridOpts2" class="grid" ui-grid-edit ui-grid-cellnav ui-grid-pinning ui-grid-resize-columns ui-grid-exporter></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</script>


@section Scripts {
    <script src="~/lib/angular/ui-grid/ui-grid.min.js"></script>
    <script src="~/lib/angucomplete/angucomplete-alt.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/csv.js"></script>
    <script src="~/lib/angular/ui-grid/export/pdfmake.js"></script>
    <script src="~/lib/angular/ui-grid/export/vfs_fonts.js"></script>
    <script src="~/lib/angular/ui-grid/export/lodash.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/jszip.min.js"></script>
    <script src="~/lib/angular/ui-grid/export/excel-builder.dist.js"></script>
    <environment include="Development">
        <script src="~/js/costcentre/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/costcentre/index.min.js" asp-append-version="true"></script>
    </environment>
}
