@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
    <p>
        <a href="/Identity/Account/Login" class="btn btn-primary">Back to Login</a>
    </p>
</div>
