@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <p>
        Your password has been reset. Please <a href="/Identity/Account/Login" class="btn btn-primary">Click here to log in</a>.
    </p>
</div>
